nav {
    height: 60px;
    width: 100%;
    /* position: fixed; */
    padding: 20px;
    /* border: 2px solid transparent; */
    background-image: linear-gradient(to right, transparent, red);
    /* Replace with desired border color */
    background-repeat: no-repeat;
    background-size: 400% 100%;
    animation: border-fade 5s infinite;
    border-bottom: 2px solid grey;
}

@keyframes border-fade {
    0% {
        background-position: -100% 0;
        /* border-color: transparent; */
    }

    50% {
        background-position: 100% 0;
        /* border-bottom: 2px solid grey; */
    }

    100% {
        background-position: -100% 0;
        /* border-color: transparent; */

    }
}

nav a {
    color: white;
    /* text-decoration: none; */
}
nav div{
    width: 50%;
}
.menu-burger-img{
    display: none;
}
.nav-burger{
    display: none;
}
.non-active-nav{
    display: none;
}
@media screen and (max-width: 1285px) {
    .menu-burger-img{
        display: block;
    }
    .nav-burger{
        display: block;
        position: absolute;
        top: 100px;
        /* right: 40px; */
        width: 300px;
        height: 100%;
        width: 100%;
        z-index: 1;
        /* border: 3px solid #73AD21; */
        /* background-color: #73AD21; */
        background-color: rgba(128, 128, 128, 0.938);
    }

    .nav-burger a{
        display: block;
        padding: 10px;
        text-align: center;

    }
    .nav-links a{
        display: none;
    }
}